<link rel="stylesheet" href="../css/call_analytics.css" crossorigin="anonymous" />

<div ng-cloak class="ng-cloak">

    <div class="container">

        <div class="row">
            <div class="col-sm-9">
                <h3>{{ heading }}</h3>
            </div>
            <div class="col-sm-3 add-call-analytics-button-div">
                <button id="add-call-analytics-button" type="button" class="btn btn-primary" ng-click="doOpenCreateAnalyticsCall()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ addCallBatchButtonLabel }}</button>
            </div>
        </div>

        <br />

        <hr ng-if="callAnalyticsData.length == 0" />

        <h4 class="no-call-analytics-found" ng-if="callAnalyticsData.length == 0">
            {{ noDataFoundLabel }}
        </h4>

        <table class="table table-striped" ng-if="callAnalyticsData.length > 0">
            <thead>
            <tr>
                <th>{{ nameTableLabel }}</th>
                <th>{{ pathTableLabel }}</th>
                <th>{{ httpCountTableLabel }}</th>
                <th>{{ actionTableLabel }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ca in callAnalyticsData">
                <td class="name-tbl-col">{{ ca.name }}</td>
                <td class="path-tbl-col">/{{ ca.externalId }}</td>
                <td class="count-tbl-col">{{ ca.restCallCount }}</td>
                <td class="action-tbl-col">
                    <button type="button" class="btn btn-primary" ng-click="doViewCallAnalytic(ca)">{{ viewCallAnalyticsButtonLabel }}</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>