<link rel="stylesheet" href="../css/dashboard.css" crossorigin="anonymous" />
<link rel="stylesheet" href="../css/alert_fade.css" crossorigin="anonymous" />

<div ng-cloak class="ng-cloak">

    <div class="container">

        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert()" class="alert-fade">{{alert.msg}}</div>

        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-8">
                    <h3>
                        {{ mockServerStatusLabel }}
                        <span id="server-status-stopped" ng-show="mockServerStatus == mockServerStopped">{{ mockServerStopped }}</span>
                        <span id="server-status-running" ng-show="mockServerStatus == mockServerRunning">{{ mockServerRunning }}</span>
                        <span id="server-status-restarting" ng-show="mockServerStatus == mockServerRestarting">{{ mockServerRestarting }}</span>
                        <br />
                        <a id="server-config" href="" ng-click="doOpenServerConfig()">{{ serverConfigLabel }}</a>
                    </h3>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default start-button" ng-if="mockServerStatus == mockServerStopped" ng-click="startMockServer()"><span class="glyphicon glyphicon-play" aria-hidden="true" /></button>
                    <button type="button" class="btn btn-default stop-button" ng-if="mockServerStatus == mockServerRunning" ng-click="stopMockServer()"><span class="glyphicon glyphicon-stop" aria-hidden="true" /></button>
                </div>
           </div>
        </div>
    </div>

    <hr />
    <br />

    <div class="container">

        <div class="row">
            <div class="col-sm-10">
                <h3>{{ endpointsHeading }}</h3>
            </div>
            <div class="col-sm-2">
                <button id="add-endpoint-button" type="button" class="btn btn-primary" ng-click="doOpenEndpointInfo()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ addEndpointLabel }}</button>
            </div>
        </div>

        <br />

        <h4 id="no-data-label" ng-if="restServices.length == 0">
            {{ noDataFoundMsg }}
        </h4>

        <uib-accordion close-others="false" class="table">
            <div uib-accordion-group  ng-repeat="rs in restServices" class="{{ ($index % 2 == 0) ? 'batched-endpoint-blue' : '' }}">
                <uib-accordion-heading>
                    <span class="batched-endpoint-path" ng-click="rs.isOpen = !rs.isOpen">{{ rs.basePath }}</span>
                    <span class="pull-right">({{ rs.data.length }})
                        <i class="glyphicon" ng-click="rs.isOpen = !rs.isOpen" ng-class="{'glyphicon-chevron-down': rs.isOpen, 'glyphicon-chevron-right': !rs.isOpen}"></i>
                    </span>
                </uib-accordion-heading>
                <div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ pathTableLabel }}</th>
                            <th>{{ methodTableLabel }}</th>
                            <th>{{ dateCreatedTableLabel }}</th>
                            <th>{{ mockTypeTableLabel }}</th>
                            <th>{{ statusTableLabel }}</th>
                            <th>{{ actionTableLabel }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in rs.data">
                                <td>{{ x.path }}</td>
                                <td>{{ x.method }}</td>
                                <th>{{ x.dateCreated | date: 'dd MMM yyyy HH:mm' }}</th>
                                <td>{{ translate(x.mockType) }}</td>
                                <td class="status-{{x.status | lowercase}}">
                                    {{ x.status }}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="doOpenEndpointInfo(x)">{{ viewEndpointLabel }}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </uib-accordion>

    </div>

</div>
