<link rel="stylesheet" href="../css/endpoint_info_seq.css" crossorigin="anonymous" />
<link rel="stylesheet" href="../css/alert_fade.css" crossorigin="anonymous" />

<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ newEndpointSeqHeading }}</h4>
</div>

<div class="modal-body" id="modal-body">

    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert()" class="alert-fade">{{alert.msg}}</div>

    <div class="form-group">
        <label for="contentType" class="ng-binding">{{ contentTypeLabel }}</label>
        <input id="contentType" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="seqResponse.responseContentType" placeholder="{{ contentTypePlaceholderTxt }}" type="text" uib-typeahead="ct for ct in contentTypes | filter:$viewValue | limitTo:8" />
    </div>

    <div class="form-group">
        <label for="httpStatusCode" class="ng-binding">{{ httpStatusCodeLabel }}</label>
        <input id="httpStatusCode" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="seqResponse.httpStatusCode" placeholder="{{ httpStatusCodePlaceholderTxt }}" type="text" />
    </div>

    <div class="form-group">
        <label for="response-body" class="ng-binding">
            {{ responseBodyLabel }}
        </label>
        <textarea id="response-body" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="seqResponse.responseBody"></textarea>
    </div>

    <div class="form-group">
        <label for="response-headers" class="ng-binding">{{ responseHeadersLabel }}</label>
        <div class="panel panel-default">
            <div class="panel-body">

                <table id="response-headers" class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ responseHeaderNameLabel }}</th>
                            <th>{{ responseHeaderValueLabel }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rh in responseHeaderList">
                            <td>
                                <input type="text" ng-model="rh.name" class="form-control ng-isolate-scope ng-pristine ng-valid" />
                            </td>
                            <td>
                                <input type="text" ng-model="rh.value" class="form-control ng-isolate-scope ng-pristine ng-valid" />
                            </td>
                            <td class="remove-resp-head-row-button">
                                <button type="button" class="btn btn-warning" ng-click="doRemoveResponseHeaderRow($index)">{{ removeResponseHeaderButtonLabel }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button id="add-response-header-row" type="button" class="btn btn-info" ng-click="doAddResponseHeaderRow()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ addResponseHeaderButtonLabel }}</button>

            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="doCancel()">{{ cancelButtonLabel }}</button>
    <button class="btn btn-primary" type="button" ng-click="doSaveSeq()">{{ saveButtonLabel }}</button>
</div>
