<link rel="stylesheet" href="../css/endpoint_info.css" crossorigin="anonymous" />
<link rel="stylesheet" href="../css/alert_fade.css" crossorigin="anonymous" />

<div ng-cloak class="ng-cloak">

    <div class="container">

        <h3>
            <div class="row">

                <div class="col-sm-9" class="newEndpointHeading">
                    {{ newEndpointHeading }}
                </div>

                <div class="col-sm-3 endpoint-status-row">
                    {{ endpointStatusLabel }}
                    <div id="endpoint-status" class="btn-group" uib-dropdown>
                        <button id="endpoint-status-button" type="button" class="btn btn-{{(endpoint.status == activeStatus)?'success':'default'}} dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                            <span>{{ endpoint.status }}</span>
                            <span class="caret"></span>
                        </button>
                        <ul id="endpoint-status-list" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem">
                                <a ng-click="doSetEndpointStatus(activeStatus)">{{ activeStatus }}</a>
                                <a ng-click="doSetEndpointStatus(inActiveStatus)">{{ inActiveStatus }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </h3>

        <br />

        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert()" class="alert-fade">{{alert.msg}}</div>

        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="path" class="ng-binding">{{ pathLabel }}</label>
                    <input id="path" class="form-control ng-isolate-scope ng-pristine ng-valid" focus="true" ng-model="endpoint.path" placeholder="{{ pathPlaceHolderTxt }}" type="text" />
                </div>

                <div class="form-group">
                    <label for="method" class="ng-binding">{{ methodLabel }}</label>
                    <br />
                    <div id="method" class="btn-group" uib-dropdown>
                        <button id="method-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="endpoint.mockType.value == mockTypeWebSocket || endpoint.mockType.value == mockTypeProxySse">
                            <span ng-if="endpoint.method != null">{{ endpoint.method }}</span>
                            <span ng-if="endpoint.method == null">{{ selectDropDownLabel }}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="m in httpMethods">
                                <a ng-click="doSelectHttpMethod(m)">{{ m }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group" ng-show="endpoint.mockType.value == mockTypeRule">
                    <label for="contentType" class="ng-binding default-label-color">{{ defaultContentTypeLabel }}</label>
                    <input id="contentType" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="endpoint.contentType" placeholder="{{ defaultContentTypePlaceholderTxt }}" type="text" uib-typeahead="ct for ct in contentTypes | filter:$viewValue | limitTo:8" />
                </div>

                <div class="form-group" ng-show="endpoint.mockType.value == mockTypeRule">
                    <label for="httpStatusCode" class="ng-binding default-label-color">{{ defaultHttpStatusCodeLabel }}</label>
                    <input id="httpStatusCode" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="endpoint.httpStatusCode" placeholder="{{ defaultHttpStatusCodePlaceholderTxt }}" type="text" />
                </div>

                <div class="form-group" ng-show="endpoint.mockType.value == mockTypeRule">
                    <label for="default-response-body" class="ng-binding default-label-color">{{ defaultResponseBodyLabel }}</label>
                    <textarea id="default-response-body" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="endpoint.responseBody"></textarea>
                </div>

                <div class="form-group" ng-show="endpoint.mockType.value == mockTypeRule">
                    <label for="response-headers" class="ng-binding default-label-color">{{ responseHeadersLabel }}</label>

                    <div class="panel panel-default">
                        <div class="panel-body">

                            <table id="response-headers" class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="default-label-color">{{ responseHeaderNameLabel }}</th>
                                    <th class="default-label-color">{{ responseHeaderValueLabel }}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="rh in responseHeaderList">
                                    <td>
                                        <input type="text" ng-model="rh.name" class="form-control ng-isolate-scope ng-pristine ng-valid" />
                                    </td>
                                    <td>
                                        <input type="text" ng-model="rh.value" class="form-control ng-isolate-scope ng-pristine ng-valid" />
                                    </td>
                                    <td class="remove-resp-head-row-button">
                                        <button type="button" class="btn btn-warning" ng-click="doRemoveResponseHeaderRow($index)">{{ removeResponseHeaderButtonLabel }}</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <button id="add-response-header-row" type="button" class="btn btn-info" ng-click="doAddResponseHeaderRow()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ addResponseHeaderButtonLabel }}</button>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">

                <div class="form-group">
                    <div id="mock-type" class="btn-group" uib-dropdown>
                        <button id="mock-type-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                            {{ endpoint.mockType.name }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="mt in mockTypes">
                                <a ng-click="doSelectMockType(mt)">{{ mt.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- Sequence Type -->
                <div ng-show="endpoint.mockType.value == mockTypeSeq">

                    <div class="add-button-div">
                        <button type="button" class="btn btn-primary add-button" ng-click="doOpenAddSequence()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ addSequenceButtonLabel }}</button>
                    </div>

                    <div class="no-results-found" ng-if="endpoint.definitions.length == 0">
                        {{ noSeqFound }}
                    </div>

                    <table class="table table-striped seq-table" ng-if="endpoint.definitions.length > 0">
                        <thead>
                        <tr>
                            <th>{{ orderNoLabel }}</th>
                            <th>{{ statusCodeLabel }}</th>
                            <th>{{ frequencyLabel }}</th>
                            <th>{{ responseBodyLabel }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in endpoint.definitions">
                            <td ng-class="(x.suspend) ? 'suspend-seq-rule resp-col-width-10' : 'resp-col-width-10'">{{ x.orderNo }}</td>
                            <td ng-class="(x.suspend) ? 'suspend-seq-rule resp-col-width-10' : 'resp-col-width-10'">{{ x.httpStatusCode }}</td>
                            <td ng-class="(x.suspend) ? 'suspend-seq-rule resp-col-width-10' : 'resp-col-width-10'">{{ x.frequencyCount }}</td>
                            <td ng-class="(x.suspend) ? 'suspend-seq-rule' : ''">{{ (x.responseBody != null) ? ( x.responseBody | limitTo: responseBodyLimit ) : 'N/A' }}</td>
                            <td class="action-button-table-cell">

                                <a href="" ng-click="doMoveSeqUp(x, $index)" ng-class="(x.suspend) ? 'suspend-icon-left' : ''">
                                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                </a>
                                <a href="" ng-click="doMoveSeqDown(x, $index)" ng-class="(x.suspend) ? 'suspend-icon-right' : 'condition-arg-button-side-offset'">
                                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                </a>

                                <br />

                                <a href="" ng-click="doToggleSuspendSeq($index)">
                                    <span class="glyphicon glyphicon-pause" aria-hidden="true" ng-hide="x.suspend"></span>
                                    <span class="glyphicon glyphicon-play condition-arg-button-top-offset" aria-hidden="true" ng-show="x.suspend"></span>
                                </a>
                                <a href="" ng-click="doRemoveSeq($index)" ng-class="(x.suspend) ? 'suspend-icon-right' : 'condition-arg-button-side-offset'">
                                    <span class="glyphicon glyphicon-remove condition-arg-button-top-offset" aria-hidden="true"></span>
                                </a>

                                <br />
                                <br />

                                <button type="button" class="btn btn-primary view-seq-button" ng-class="(x.suspend) ? 'suspend-button' : ''" ng-click="doOpenViewSequence(x)" ng-disabled="x.suspend">{{ viewButtonLabel }}</button>

                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="form-group" class="shuffle-seq-group" ng-show="endpoint.definitions.length > 1">
                        <input id="shuffleSequence" ng-model="endpoint.randomiseDefinitions" type="checkbox" />
                        <label for="shuffleSequence" class="ng-binding">{{ shuffleSequenceLabel }}</label>
                    </div>

                </div>


                <!-- Rule Based Type -->
                <div ng-show="endpoint.mockType.value == mockTypeRule">

                    <div class="add-button-div">
                        <button type="button" class="btn btn-primary add-button" ng-click="doOpenAddRule()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ addRuleButtonLabel }}</button>
                    </div>

                    <div class="no-results-found" ng-if="endpoint.rules.length == 0">
                        {{ noRulesFound }}
                    </div>

                    <table class="table table-striped rule-table" ng-if="endpoint.rules.length > 0">
                        <thead>
                        <tr>
                            <th>{{ ruleLabel }}</th>
                            <th>{{ statusCodeLabel }}</th>
                            <th>{{ responseBodyLabel }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in endpoint.rules">
                            <td ng-class="(x.suspend) ? 'suspend-seq-rule resp-col-width-10' : 'resp-col-width-10'">{{ x.orderNo }}</td>
                            <td ng-class="(x.suspend) ? 'suspend-seq-rule resp-col-width-10' : 'resp-col-width-10'">{{ x.httpStatusCode }}</td>
                            <td ng-class="(x.suspend) ? 'suspend-seq-rule' : ''">{{ (x.responseBody != null) ? ( x.responseBody | limitTo: responseBodyLimit ) : 'N/A' }}</td>
                            <td class="action-button-table-cell">

                                <a href="" ng-click="doMoveRuleUp(x, $index)" ng-class="(x.suspend) ? 'suspend-icon-left' : ''">
                                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                </a>
                                <a href="" ng-click="doMoveRuleDown(x, $index)" ng-class="(x.suspend) ? 'suspend-icon-right' : 'condition-arg-button-side-offset'">
                                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                </a>

                                <br />

                                <a href="" ng-click="doToggleSuspendRule($index)">
                                    <span class="glyphicon glyphicon-pause" aria-hidden="true" ng-hide="x.suspend"></span>
                                    <span class="glyphicon glyphicon-play condition-arg-button-top-offset" aria-hidden="true" ng-show="x.suspend"></span>
                                </a>
                                <a href="" ng-click="doRemoveRule($index)" ng-class="(x.suspend) ? 'suspend-icon-right' : 'condition-arg-button-side-offset'">
                                    <span class="glyphicon glyphicon-remove condition-arg-button-top-offset" aria-hidden="true"></span>
                                </a>

                                <br />
                                <br />

                                <button type="button" class="btn btn-primary view-rule-button" ng-class="(x.suspend) ? 'suspend-button' : ''" ng-click="doOpenViewRule(x)" ng-disabled="x.suspend">{{ viewButtonLabel }}</button>

                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>


                <!-- HTTP Proxy Type -->
                <div ng-show="endpoint.mockType.value == mockTypeProxyHttp">

                    <div class="form-group proxy-timeout-group">
                        <label for="proxyTimeout" class="ng-binding">{{ proxyTimeoutLabel }}</label>
                        <input id="proxyTimeout" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="endpoint.proxyTimeout" placeholder="{{ proxyTimeoutPlaceholderTxt }}" type="text" />
                    </div>

                    <br />

                    <uib-accordion id="manageProxy" close-others="false" ng-if="extId != null">
                        <div uib-accordion-group class="panel panel-default">

                            <uib-accordion-heading>
                                <span ng-click="mp.isOpen = !mp.isOpen">
                                    {{ manageHttpProxyQueueLabel }}
                                </span>
                                    <span class="pull-right">
                                    <i class="glyphicon" ng-click="mp.isOpen = !mp.isOpen" ng-class="{'glyphicon-chevron-down': mp.isOpen, 'glyphicon-chevron-right': !mp.isOpen}"></i>
                                </span>
                            </uib-accordion-heading>

                            <h5>{{ sendProxiedResponseLabel }}</h5>
                            <br />

                            <div class="form-group">
                                <label for="proxyContentType" class="ng-binding">{{ proxyContentTypeLabel }}</label>
                                <input id="proxyContentType" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="proxyEndpoint.contentType" placeholder="{{ defaultContentTypePlaceholderTxt }}" type="text" uib-typeahead="ct for ct in contentTypes | filter:$viewValue | limitTo:8" />
                            </div>

                            <div class="form-group">
                                <label for="proxyHttpStatusCode" class="ng-binding">{{ proxyHttpStatusCodeLabel }}</label>
                                <input id="proxyHttpStatusCode" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="proxyEndpoint.httpStatusCode" placeholder="{{ defaultHttpStatusCodePlaceholderTxt }}" type="text" />
                            </div>

                            <div class="form-group">
                                <label for="proxy-default-response-body" class="ng-binding">{{ proxyResponseBodyLabel }}</label>
                                <textarea id="proxy-default-response-body" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="proxyEndpoint.responseBody"></textarea>
                            </div>

                            <span class="pull-right">
	    						<button class="btn btn-success" type="button" ng-click="doPostProxyResponse()">{{ postProxyResponseButtonLabel }}</button>
    						</span>

                            <br />
                            <br />
                            <hr />

                            <button id="clear-proxy-button" class="btn btn-info" type="button" ng-click="doClearProxyQueue()">{{ clearProxyButtonLabel }}</button>

                        </div>
                    </uib-accordion>

                </div>


                <!-- WebSocket Proxy Type -->
                <div ng-show="endpoint.mockType.value == mockTypeWebSocket">

                    <div class="form-group proxy-timeout-group">
                        <label for="websocketTimeout" class="ng-binding">{{ webSocketTimeoutLabel }}</label>
                        <input id="websocketTimeout" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="endpoint.webSocketTimeout" placeholder="{{ webSocketTimeoutPlaceholderTxt }}" type="text" />
                    </div>

                    <br />

                    <div class="row" ng-if="extId != null">
                        <div class="col-sm-9 refresh-clients-heading">
                            {{ wsClientConnectionLabel }}
                        </div>
                        <div class="col-sm-3 refresh-clients-link">
                            <a href="" ng-click="doRefreshActiveClients()">
                                {{ refreshWsClientsLinkLabel }}
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>

                    <br />

                    <div class="no-results-found" ng-if="extId != null && activeWsClients.length == 0">
                        {{ activeWsClientsFound }}
                    </div>

                    <div id="clients-table-div" ng-if="extId != null && activeWsClients.length > 0">
                        <table class="table table-striped rule-table">
                            <thead>
                                <tr>
                                    <th>{{ wsClientIdHeading }}</th>
                                    <th>{{ wsClientJoinDateHeading }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ws in activeWsClients">
                                    <td>{{ ws.id }}</td>
                                    <td>{{ ws.dateJoined | date: "dd/MM/yyyy HH:mm:ss" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <!-- SSE Proxy Type -->
                <div ng-show="endpoint.mockType.value == mockTypeProxySse">

                    <div class="form-group proxy-timeout-group">
                        <label for="sseHeartbeat" class="ng-binding">{{ sseHeartbeatLabel }}</label>
                        <input id="sseHeartbeat" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="endpoint.sseHeartbeat" placeholder="{{ sseHeartbeatPlaceholderTxt }}" type="text" />
                    </div>

                    <br />

                    <uib-accordion id="manageSseProxy" close-others="false" ng-if="extId != null">
                        <div uib-accordion-group class="panel panel-default">

                            <uib-accordion-heading>
                                <span ng-click="smp.isOpen = !smp.isOpen">
                                    {{ manageSseProxyQueueLabel }}
                                </span>
                                <span class="pull-right">
                                    <i class="glyphicon" ng-click="smp.isOpen = !smp.isOpen" ng-class="{'glyphicon-chevron-down': smp.isOpen, 'glyphicon-chevron-right': !smp.isOpen}"></i>
                                </span>
                            </uib-accordion-heading>

                            <h5>{{ sendSseProxiedResponseLabel }}</h5>
                            <br />

                            <div class="form-group">
                                <label for="sse-proxy-default-response-body" class="ng-binding">{{ sseProxyMessageLabel }}</label>
                                <textarea id="sse-proxy-default-response-body" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="sseProxyEndpoint.body"></textarea>
                            </div>

                            <span class="pull-right">
	    						<button class="btn btn-success" type="button" ng-click="doPushSseProxyMessage()">{{ pushProxySseMessageButtonLabel }}</button>
    						</span>

                        </div>
                    </uib-accordion>

                </div>

            </div>

        </div>

        <hr />

        <div class="action-buttons">
            <div class="row">
                <div class="col-sm-9 restart-mock-server-instruction">
                    {{ serverRestartInstruction }}
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-default" type="button" ng-click="doCancel()">{{ cancelButtonLabel }}</button>
                    <button class="btn btn-danger" type="button" ng-click="doDelete()" ng-if="extId != null">{{ deleteButtonLabel }}</button>
                    <button class="btn btn-primary" type="button" ng-click="doSaveEndpoint()">{{ saveButtonLabel }}</button>
                </div>
            </div>
        </div>

    </div>

</div>
