<link rel="stylesheet" href="../css/ftp_endpoint_info.css" crossorigin="anonymous" />
<link rel="stylesheet" href="../css/alert_fade.css" crossorigin="anonymous" />

<div ng-cloak class="ng-cloak">

    <div class="container">

        <h3>
            <div class="row">

                <div class="col-sm-9" class="ftp-endpoint-heading">
                    {{ endpointHeading }}
                </div>

                <div class="col-sm-3 endpoint-status-row">
                    {{ endpointStatusLabel }}
                    <div id="endpoint-status" class="btn-group" uib-dropdown>
                        <button id="endpoint-status-button" type="button" class="btn btn-{{(endpoint.status == activeStatus)?'success':'default'}} dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                            <span>{{ (endpoint.status == activeStatus) ? enabledLabel : disabledLabel }}</span>
                            <span class="caret"></span>
                        </button>
                        <ul id="endpoint-status-list" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem">
                                <a ng-click="doSetEndpointStatus(activeStatus)">{{ enabledLabel }}</a>
                                <a ng-click="doSetEndpointStatus(inActiveStatus)">{{ disabledLabel }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </h3>

        <br />

        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert()" class="alert-fade">{{alert.msg}}</div>

        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="ftp-username" class="ng-binding">{{ nameLabel }}</label>
                    <input id="ftp-username" class="form-control ng-isolate-scope ng-pristine ng-valid" focus="isNew" ng-model="endpoint.name" placeholder="{{ usernamePlaceHolderTxt }}" type="text" />
                </div>

            </div>
            <div class="col-sm-6">

                <uib-accordion id="manage-ftp-repo" close-others="false" ng-if="!isNew">
                    <div uib-accordion-group class="panel panel-default manage-ftp-repo-panel">

                        <uib-accordion-heading>
                            <span ng-click="mp.isOpen = !mp.isOpen">
                                {{ manageFtpLabel }}
                            </span>
                            <span class="pull-right">
                                        <i class="glyphicon" ng-click="mp.isOpen = !mp.isOpen" ng-class="{'glyphicon-chevron-down': mp.isOpen, 'glyphicon-chevron-right': !mp.isOpen}"></i>
                                    </span>
                        </uib-accordion-heading>

                        <h5>{{ currentRepositoryFilesLabel }}</h5>
                        <br />

                        <div id="no-files-found" ng-if="ftpFileTreeData.length == 0">
                            {{ noFilesFoundLabel }}
                        </div>

                        <ul class="list-group list-group-flush" ng-if="ftpFileTreeData.length > 0">
                            <li class="list-group-item" ng-repeat="fd in ftpFileTreeData">
                                {{ fd }}
                                <button class="btn btn-danger pull-right delete-ftp-file-button" type="button" ng-click="doDeleteUploadedFile(fd)">{{ deleteButtonLabel }}</button>
                            </li>
                        </ul>

                        <br />
                        <hr />

                        <h5>{{ uploadFTPMessageLabel }}</h5>
                        <br />

                        <form>

                            <label for="ftpUploadFile" class="upload-select-file-button btn btn-default">
                                <span ng-if="ftpUploadFile.data == null">{{ selectFileLabel }}</span>
                                <span ng-if="ftpUploadFile.data != null">{{ ftpUploadFile.data.name }}</span>
                            </label>
                            <input id="ftpUploadFile" type="file" form-file-model="ftpUploadFile.data" />

                            <br />
                            <br />

                            <button class="btn btn-success upload-button" type="button" ng-click="doUploadFileToFTP()" ng-disabled="endpoint.status == inActiveStatus" ng-disabled="disableForm">
                                <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> {{ uploadFTPButtonLabel }}
                            </button>

                        </form>

                    </div>
                </uib-accordion>

            </div>
        </div>

        <hr />

        <div class="action-buttons">
            <div class="row">
                <div class="col-sm-9 restart-mock-server-instruction">
                    {{ serverRestartInstruction }}
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-default" type="button" ng-click="doCancel()">{{ cancelButtonLabel }}</button>
                    <button class="btn btn-danger" type="button" ng-click="doDelete()" ng-if="!isNew">{{ deleteButtonLabel }}</button>
                    <button class="btn btn-primary" type="button" ng-click="doSaveFtpEndpoint()">{{ saveButtonLabel }}</button>
                </div>
            </div>
        </div>

    </div>

</div>
