<link rel="stylesheet" href="../css/ftp_endpoint_info.css" crossorigin="anonymous" />
<link rel="stylesheet" href="../css/alert_fade.css" crossorigin="anonymous" />

<div ng-cloak class="ng-cloak">

    <div class="container">

        <h3>
            <div class="row">

                <div class="col-sm-9" class="ftp-endpoint-heading">
                    {{ endpointHeading }}
                </div>

                <div class="col-sm-3 endpoint-status-row">
                    {{ endpointStatusLabel }}
                    <div id="endpoint-status" class="btn-group" uib-dropdown>
                        <button id="endpoint-status-button" type="button" class="btn btn-{{(endpoint.status == activeStatus)?'success':'default'}} dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                            <span>{{ endpoint.status }}</span>
                            <span class="caret"></span>
                        </button>
                        <ul id="endpoint-status-list" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem">
                                <a ng-click="doSetEndpointStatus(activeStatus)">{{ activeStatus }}</a>
                                <a ng-click="doSetEndpointStatus(inActiveStatus)">{{ inActiveStatus }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </h3>

        <br />

        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert()" class="alert-fade">{{alert.msg}}</div>

        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="ftp-username" class="ng-binding">{{ nameLabel }}</label>
                    <input id="ftp-username" class="form-control ng-isolate-scope ng-pristine ng-valid" focus="true" ng-model="endpoint.name" placeholder="{{ usernamePlaceHolderTxt }}" type="text" />
                </div>

            </div>
            <div class="col-sm-6">

            </div>
        </div>

        <hr />

        <div class="action-buttons">
            <div class="row">
                <div class="col-sm-9 restart-mock-server-instruction">
                    {{ serverRestartInstruction }}
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-default" type="button" ng-click="doCancel()">{{ cancelButtonLabel }}</button>
                    <button class="btn btn-primary" type="button" ng-click="doSaveFtpEndpoint()">{{ saveButtonLabel }}</button>
                </div>
            </div>
        </div>

    </div>

</div>
