<link rel="stylesheet" href="../css/jms_endpoint_info.css" crossorigin="anonymous" />
<link rel="stylesheet" href="../css/alert_fade.css" crossorigin="anonymous" />

<div ng-cloak class="ng-cloak">

    <div class="container">

        <h3>
            <div class="row">

                <div class="col-sm-9" class="jms-endpoint-heading">
                    {{ endpointHeading }}
                </div>

                <div class="col-sm-3 endpoint-status-row">
                    {{ endpointStatusLabel }}
                    <div id="endpoint-status" class="btn-group" uib-dropdown>
                        <button id="endpoint-status-button" type="button" class="btn btn-{{(endpoint.status == activeStatus)?'success':'default'}} dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                            <span>{{ endpoint.status }}</span>
                            <span class="caret"></span>
                        </button>
                        <ul id="endpoint-status-list" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem">
                                <a ng-click="doSetEndpointStatus(activeStatus)">{{ activeStatus }}</a>
                                <a ng-click="doSetEndpointStatus(inActiveStatus)">{{ inActiveStatus }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </h3>

        <br />

        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert()" class="alert-fade">{{alert.msg}}</div>

        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="queue-name" class="ng-binding">{{ nameLabel }}</label><span class="pull-right actual-path" ng-if="defaultCtxPathPrefix != null"> ({{ actualNamePrefixLabel }} {{ defaultCtxPathPrefix }}<b>{{ endpoint.name }}</b>)</span>
                    <input id="queue-name" class="form-control ng-isolate-scope ng-pristine ng-valid" focus="isNew" ng-model="endpoint.name" placeholder="{{ jmsNamePlaceHolderTxt }}" type="text" />
                </div>

            </div>
            <div class="col-sm-6">

                <div class="form-group">
                    <div id="jms-mock-type" class="btn-group" uib-dropdown>
                        <button id="jms-mock-type-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                            {{ endpoint.jmsMockType.name }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="mt in jmsMockTypes">
                                <a ng-click="doSelectJmsMockType(mt)">{{ mt.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <br />
                <br />

                <div ng-show="endpoint.jmsMockType.value == mockTypeDefinitions.MockTypeQueue">

                    <uib-accordion id="manage-jms-queue" close-others="false" ng-if="!isNew">
                        <div uib-accordion-group class="panel panel-default">

                            <uib-accordion-heading>
                                    <span ng-click="mp.isOpen = !mp.isOpen">
                                        {{ manageJmsQueueLabel }}
                                    </span>
                                <span class="pull-right">
                                        <i class="glyphicon" ng-click="mp.isOpen = !mp.isOpen" ng-class="{'glyphicon-chevron-down': mp.isOpen, 'glyphicon-chevron-right': !mp.isOpen}"></i>
                                    </span>
                            </uib-accordion-heading>

                            <h5>{{ sendJMSMessageLabel }}</h5>
                            <br />

                            <div class="form-group">
                                <label for="text-jms-message-body" class="ng-binding">{{ textMessageBodyLabel }}</label>
                                <textarea id="text-jms-message-body" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="jmsMessage.body"></textarea>
                            </div>

                            <span class="pull-right">
                                <button class="btn btn-success" type="button" ng-click="doPostJmsMessage()" ng-disabled="endpoint.status == inActiveStatus">{{ postJmsMessageButtonLabel }}</button>
                            </span>

                            <br />
                            <br />
                            <hr />

                            <button class="btn btn-info clear-jms-button" type="button" ng-click="doClearJmsQueue()" ng-disabled="endpoint.status == inActiveStatus">{{ clearJmsQueueButtonLabel }}</button>

                        </div>
                    </uib-accordion>

                </div>

                <div ng-show="endpoint.jmsMockType.value == mockTypeDefinitions.MockTypeTopic">

                    <uib-accordion id="manage-jms-topic" close-others="false" ng-if="!isNew">
                        <div uib-accordion-group class="panel panel-default">

                            <uib-accordion-heading>
                                    <span ng-click="mp.isOpen = !mp.isOpen">
                                        {{ manageJmsTopicLabel }}
                                    </span>
                                <span class="pull-right">
                                        <i class="glyphicon" ng-click="mp.isOpen = !mp.isOpen" ng-class="{'glyphicon-chevron-down': mp.isOpen, 'glyphicon-chevron-right': !mp.isOpen}"></i>
                                    </span>
                            </uib-accordion-heading>

                            <h5>{{ broadcastJMSMessageLabel }}</h5>

                            <br />

                            <div class="form-group">
                                <label for="text-jms-topic-message-body" class="ng-binding">{{ textMessageBodyLabel }}</label>
                                <textarea id="text-jms-topic-message-body" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="jmsTopicMessage.body"></textarea>
                            </div>

                            <span class="pull-right">
                                <button class="btn btn-success" type="button" ng-click="doPostJmsTopicBroadcastMessage()" ng-disabled="endpoint.status == inActiveStatus">{{ postJmsTopicMessageButtonLabel }}</button>
                            </span>

                        </div>
                    </uib-accordion>

                </div>

            </div>
        </div>

        <hr />

        <div class="action-buttons">
            <div class="row">
                <div class="col-sm-9 restart-mock-server-instruction">
                    {{ serverRestartInstruction }}
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-default" type="button" ng-click="doCancel()">{{ cancelButtonLabel }}</button>
                    <button class="btn btn-danger" type="button" ng-click="doDeleteJmsEndpoint()">{{ deleteButtonLabel }}</button>
                    <button class="btn btn-primary" type="button" ng-click="doSaveJmsEndpoint()">{{ saveButtonLabel }}</button>
                </div>
            </div>
        </div>

    </div>

</div>
