<link rel="stylesheet" href="../css/jms_dashboard.css" crossorigin="anonymous" />

<div ng-controller="jmsDashboardController">

    <div class="container">

        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-8">
                    <h3>
                        {{ mockServerStatusLabel }}
                        <span id="server-status-stopped" ng-show="mockServerStatus == mockServerStopped">{{ mockServerStopped }}</span>
                        <span id="server-status-running" ng-show="mockServerStatus == mockServerRunning">{{ mockServerRunning }}</span>
                        <span id="server-status-restarting" ng-show="mockServerStatus == mockServerRestarting">{{ mockServerRestarting }}</span>
                        <!--
                        <br />
                        <a id="server-config" href="" ng-click="doOpenServerConfig()">{{ serverConfigLabel }}</a>
                        -->
                    </h3>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default start-button" ng-if="mockServerStatus == mockServerStopped" ng-click="startJmsMockServer()"><span class="glyphicon glyphicon-play" aria-hidden="true" /></button>
                    <button type="button" class="btn btn-default stop-button" ng-if="mockServerStatus == mockServerRunning" ng-click="stopJmsMockServer()"><span class="glyphicon glyphicon-stop" aria-hidden="true" /></button>
                </div>
            </div>
        </div>

    </div>

    <hr />
    <br />

    <div class="container">

        <div class="row">
            <div class="col-sm-10">
                <h3>{{ endpointsHeading }}</h3>
            </div>
            <div class="col-sm-2 add-endpoint-button-div">
                <button id="add-endpoint-button" type="button" class="btn btn-primary" ng-click="doOpenJmsEndpointInfo()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ addEndpointButtonLabel }}</button>
            </div>
        </div>

        <br />

        <h4 id="no-data-label" ng-if="jmsServices.length == 0">
            {{ noDataFoundMsg }}
        </h4>

        <div ng-if="jmsServices.length > 0">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ nameTableLabel }}</th>
                    <th>{{ dateCreatedTableLabel }}</th>
                    <th>{{ mockTypeTableLabel }}</th>
                    <th>{{ statusTableLabel }}</th>
                    <th>{{ actionTableLabel }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="j in jmsServices">
                    <td>{{ j.name }}</td>
                    <th>{{ j.dateCreated | date: 'dd MMM yyyy HH:mm' }}</th>
                    <td>{{ j.jmsMockType }}</td>
                    <td class="status-{{j.status | lowercase}}">
                        {{ j.status }}
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="doOpenJmsEndpointInfo(j)">{{ viewEndpointButtonLabel }}</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>
