<link rel="stylesheet" href="../css/js_editor.css" crossorigin="anonymous" />

<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ jsEditorHeading }}</h4>
</div>

<div class="modal-body" id="modal-body" window-dimensions-directive style="height: {{ (height - 200) }}px;">

    <div id="js-editor-wrapper">

        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert()" class="alert-fade">{{alert.msg}}</div>

        <textarea id="custom-js-syntax-modal" name="custom-js-syntax-modal"></textarea>

    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-warning pull-left" type="button" ng-click="doFormatCustomJS()">{{ formatCustomJsButton }}</button>

    <button class="btn btn-default" type="button" ng-click="doCancel()">{{ cancelButtonLabel }}</button>
    <button class="btn btn-primary" type="button" ng-click="doUpdate()">{{ updateButtonLabel }}</button>
</div>
