<link rel="stylesheet" href="../css/mail_endpoint_info.css" crossorigin="anonymous" />
<link rel="stylesheet" href="../css/alert_fade.css" crossorigin="anonymous" />

<div ng-cloak class="ng-cloak">

    <div class="container">

        <h3>
            <div class="row">

                <div class="col-sm-9" class="tcp-endpoint-heading">
                    {{ endpointHeading }}
                </div>

                <div class="col-sm-3 endpoint-status-row">
                    {{ endpointStatusLabel }}
                    <div id="endpoint-status" class="btn-group" uib-dropdown>
                        <button id="endpoint-status-button" type="button" class="btn btn-{{(endpoint.status == activeStatus)?'success':'default'}} dropdown-toggle" uib-dropdown-toggle>
                            <span>{{ (endpoint.status == activeStatus) ? enabledLabel : disabledLabel }}</span>
                            <span class="caret"></span>
                        </button>
                        <ul id="endpoint-status-list" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem">
                                <a ng-click="doSetEndpointStatus(activeStatus)">{{ enabledLabel }}</a>
                                <a ng-click="doSetEndpointStatus(inActiveStatus)">{{ disabledLabel }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </h3>

        <br />

        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert()" class="alert-fade alert-format">{{alert.msg}}</div>

        <div class="mail-mock-panel">

            <div class="form-group" >
                <label for="mail-address" class="ng-binding">{{ inboxAddressLabel }}</label>
                <input id="mail-address" class="form-control ng-isolate-scope ng-pristine ng-valid" focus="isNew" ng-model="endpoint.address" placeholder="{{ pathPlaceHolderTxt }}" type="text" />
            </div>

            <div class="form-group">
                <input id="save-received-mail" ng-model="endpoint.saveReceivedMail" type="checkbox" />
                <label for="save-received-mail" class="ng-binding">{{ saveReceivedMailLabel }}</label>
            </div>

            <br />
            <br />

            <div ng-if="!isNew && mockServerStatus != mockServerStoppedStatus">

                <label for="mail-address" class="ng-binding">{{ inboxMessagesLabel }}</label>

                <h4 class="no-data-label" ng-if="mailMessages.length == 0">
                    {{ noDataFoundMsg }}
                </h4>

                <table class="table table-striped" ng-if="mailMessages.length > 0">
                    <thead>
                    <tr>
                        <th>{{ senderTableLabel }}</th>
                        <th>{{ subjectTableLabel }}</th>
                        <th>{{ dateReceivedTableLabel }}</th>
                        <th>{{ actionTableLabel }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in mailMessages">
                        <td>
                            <b>{{ x.sender }}</b>
                        </td>
                        <td>{{ x.subject }}</td>
                        <td>{{ x.dateReceived | date: 'dd MMM yyyy HH:mm' : 'UTC' }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="doOpenMailMessage(x)">{{ viewMessageButtonLabel }}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <br />
                <br />

            </div>

        </div>


        <hr />

        <div class="action-buttons">
            <button class="btn btn-default" type="button" ng-click="doClose()">{{ cancelButtonLabel }}</button>
            <button class="btn btn-danger" type="button" ng-click="doDelete()" ng-if="!isNew && !readOnly">{{ deleteButtonLabel }}</button>
            <button class="btn btn-primary" type="button" ng-click="doSaveMailAddress()" ng-if="!readOnly">{{ saveButtonLabel }}</button>
        </div>

    </div>

</div>
