<link rel="stylesheet" href="../css/new_call_analytics_data.css" crossorigin="anonymous" />
<link rel="stylesheet" href="../css/alert_fade.css" crossorigin="anonymous" />

<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ heading }}</h4>
</div>

<div class="modal-body" id="modal-body">

    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert()" class="alert-fade">{{ alert.msg }}</div>

    <br />

    <div class="form-group">
        <label for="call-analytics-name" class="ng-binding">{{ nameLabel }}</label>
        <input id="call-analytics-name" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="callAnalyticData.name" focus="true" placeholder="{{ namePlaceholderTxt }}" type="text" />
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="doCancel()">{{ cancelButtonLabel }}</button>
    <button class="btn btn-primary" type="button" ng-click="doSaveCallAnalyticData()">{{ saveButtonLabel }}</button>
</div>
