<link rel="stylesheet" href="../css/override_proxy_call.css" crossorigin="anonymous" />
<link rel="stylesheet" href="../css/alert_fade.css" crossorigin="anonymous" />

<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ heading }}</h4>
</div>

<div class="modal-body" id="modal-body">

    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert()" class="alert-fade">{{alert.msg}}</div>

    <div class="panel panel-default">
        <div class="panel-body">

            TODO

        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="doCancel()">{{ cancelButtonLabel }}</button>
    <button class="btn btn-primary" type="button" ng-click="doSave()">{{ saveButtonLabel }}</button>
</div>
