<p>

    Inbound parameters can be included in the Response Body using the naming convention:

    <br /><br />

    ${REQ_HEAD param_name}
    <br />
    ${REQ_PARAM param_name}
    <br />
    ${PATH_VAR param_name}
    <br />
    <br />

    For example, given the URL:
    &nbsp;&nbsp;'http://localhost:8001/hello?name=joe'

    <br/>
    <br/>

    You could include the request parameter 'name' in your response like so:
    <br />
    { "msg" : "Hello ${REQ_PARAM name}!" }

    <br />
    <br />

    ...which would return:

    <br /><br />

    { "msg" : "Hello joe!" }

</p>

