<link rel="stylesheet" href="../css/s3_endpoint_info.css" crossorigin="anonymous" />
<link rel="stylesheet" href="../css/alert_fade.css" crossorigin="anonymous" />

<div ng-cloak class="ng-cloak">

    <div class="container">

        <h3>
            <div class="row">

                <div class="col-sm-9" class="tcp-endpoint-heading">
                    {{ endpointHeading }}
                </div>

                <div class="col-sm-3 endpoint-status-row">
                    {{ endpointStatusLabel }}
                    <div id="endpoint-status" class="btn-group" uib-dropdown>
                        <button id="endpoint-status-button" type="button" class="btn btn-{{(endpoint.status == activeStatus)?'success':'default'}} dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled || readOnly">
                            <span>{{ (endpoint.status == activeStatus) ? enabledLabel : disabledLabel }}</span>
                            <span class="caret"></span>
                        </button>
                        <ul id="endpoint-status-list" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem">
                                <a ng-click="doSetEndpointStatus(activeStatus)">{{ enabledLabel }}</a>
                                <a ng-click="doSetEndpointStatus(inActiveStatus)">{{ disabledLabel }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </h3>

        <br />

        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert()" class="alert-fade alert-format">{{alert.msg}}</div>

        <div class="row s3-mock-panel">
            <div class="col-sm-6">

                <div class="form-group" >
                    <label for="bucket" class="ng-binding">{{ bucketLabel }}</label><span class="pull-right actual-path" ng-if="defaultCtxPathPrefix != null"> ({{ actualPathPrefixLabel }} {{ defaultCtxPathPrefix }}<b>{{ endpoint.bucket }}</b>)</span>
                    <input id="bucket" class="form-control ng-isolate-scope ng-pristine ng-valid" focus="isNew" ng-model="endpoint.bucket" placeholder="{{ pathPlaceHolderTxt }}" type="text" ng-disabled="!isNew || readOnly" />
                </div>

            </div>
            <div class="col-sm-6">

                <div class="form-group" ng-if="!isNew">
                    <label for="tree" class="ng-binding">{{ bucketStructureLabel }}</label>
                    <div id="tree"></div>

                    <button class="btn btn-success" type="button" ng-click="doAddNode()">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        &nbsp;
                        {{ addNodeButtonLabel }}
                    </button>
                    <button class="btn btn-success" type="button" ng-click="doUploadFile()">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        {{ uploadFileButtonLabel }}
                    </button>

                    <div class="pull-right">
                        <button class="btn btn-warning" type="button" ng-click="doRenameNode()">
                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                            &nbsp;
                            {{ renameNodeButtonLabel }}
                        </button>
                        <button class="btn btn-danger" type="button" ng-click="doRemoveNode()">{{ removeNodeButtonLabel }}</button>
                    </div>
                </div>

            </div>

        </div>

        <hr />

        <div class="action-buttons">
            <button class="btn btn-default" type="button" ng-click="doClose()">{{ cancelButtonLabel }}</button>
            <button class="btn btn-danger" type="button" ng-click="doDeleteBucket()" ng-if="!isNew && !readOnly">{{ deleteButtonLabel }}</button>
            <button class="btn btn-primary" type="button" ng-click="doSaveEndpoint()" ng-if="isNew && !readOnly">{{ saveButtonLabel }}</button>
        </div>

    </div>

</div>
