<link rel="stylesheet" href="../css/tcp_dashboard.css" crossorigin="anonymous" />

<div ng-controller="tcpDashboardController">

    <div class="container">

        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-8">
                    <h3>
                        {{ mockServerStatusLabel }}
                        <span id="server-status-stopped" ng-show="mockServerStatus == mockServerStopped">{{ mockServerStopped }}</span>
                        <span id="server-status-running" ng-show="mockServerStatus == mockServerRunning">{{ mockServerRunning }}</span>
                        <span id="server-status-restarting" ng-show="mockServerStatus == mockServerRestarting">{{ mockServerRestarting }}</span>
                        <br />
                        <a id="server-config" href="" ng-click="doOpenServerConfig()">{{ serverConfigLabel }}</a>
                    </h3>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default start-button" ng-if="mockServerStatus == mockServerStopped" ng-click="startTcpMockServer()"><span class="glyphicon glyphicon-play" aria-hidden="true" /></button>
                    <button type="button" class="btn btn-default stop-button" ng-if="mockServerStatus == mockServerRunning" ng-click="stopTcpMockServer()"><span class="glyphicon glyphicon-stop" aria-hidden="true" /></button>
                </div>
           </div>
        </div>

    </div>

    <hr />
    <br />

    <div class="container">

        <div class="row">
            <div class="col-sm-10">
                <h3>{{ endpointsHeading }} <span class="show-all-toggle" ng-if="isLoggedIn && !showAllEndpoints">(<a href ng-click="doShowAllEndpoints(true)">{{ showAllEndpointsHeading }}</a>)</span></h3>
            </div>
            <div class="col-sm-2 add-endpoint-button-div">
                <button id="add-endpoint-button" type="button" class="btn btn-primary" ng-click="doOpenTcpEndpointInfo()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ addEndpointButtonLabel }}</button>
            </div>
        </div>

        <br />

        <h4 class="no-data-label" ng-if="restServices.length == 0">
            {{ noDataFoundMsg }}
        </h4>

        <uib-accordion close-others="false" class="table">
            <div uib-accordion-group  ng-repeat="rs in restServices" class="{{ ($index % 2 == 0) ? 'batched-endpoint-alt-color' : '' }}">
                <uib-accordion-heading>
                    <span class="batched-endpoint-path" ng-click="rs.isOpen = !rs.isOpen">{{ rs.basePath }}</span>
                    <span class="pull-right">({{ rs.data.length }})
                        <i class="glyphicon" ng-click="rs.isOpen = !rs.isOpen" ng-class="{'glyphicon-chevron-down': rs.isOpen, 'glyphicon-chevron-right': !rs.isOpen}"></i>
                    </span>
                </uib-accordion-heading>
                <div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ pathTableLabel }}</th>
                            <th>{{ dateCreatedTableLabel }}</th>
                            <th>{{ mockTypeTableLabel }}</th>
                            <th>{{ statusTableLabel }}</th>
                            <th>{{ actionTableLabel }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in rs.data">
                                <td>{{ x.method }}<br/>{{ (x.userCtxPath.length > 0) ? ('/' + x.userCtxPath) : '' }}<b>{{ x.path }}</b></td>
                                <td>{{ x.dateCreated | date: 'dd MMM yyyy HH:mm' : 'UTC' }}</td>
                                <td>{{ translate(x.mockType) }}</td>
                                <td class="status-{{x.status | lowercase}}">
                                    {{ x.status }}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="doOpenTcpEndpointInfo(x)">{{ viewEndpointButtonLabel }}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </uib-accordion>

        <div ng-show="showAllEndpoints">

            <br />
            <hr />

            <h3>{{ endpointsOtherUsersHeading }} <span class="show-all-toggle" ng-if="isLoggedIn && showAllEndpoints">(<a href ng-click="doShowAllEndpoints(false)">{{ hideAllEndpointsHeading }}</a>)</span></h3>

            <br />

            <h4 class="no-data-label" ng-if="otherUserRestServices.length == 0">
                {{ noDataFoundMsg }}
            </h4>

            <uib-accordion close-others="false" class="table">
                <div uib-accordion-group  ng-repeat="rs in otherUserRestServices" class="{{ ($index % 2 == 0) ? 'batched-endpoint-alt-color' : '' }}">
                    <uib-accordion-heading>
                        <span class="batched-endpoint-path" ng-click="rs.isOpen = !rs.isOpen">{{ rs.basePath }}</span>
                        <span class="pull-right">({{ rs.data.length }})
                            <i class="glyphicon" ng-click="rs.isOpen = !rs.isOpen" ng-class="{'glyphicon-chevron-down': rs.isOpen, 'glyphicon-chevron-right': !rs.isOpen}"></i>
                        </span>
                    </uib-accordion-heading>
                    <div>

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ pathTableLabel }}</th>
                                <th ng-if="isLoggedIn">{{ createdByTableLabel }}</th>
                                <th>{{ mockTypeTableLabel }}</th>
                                <th>{{ statusTableLabel }}</th>
                                <th>{{ actionTableLabel }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in rs.data">
                                <td>{{ x.method }}<br/>{{ (x.userCtxPath.length > 0) ? ('/' + x.userCtxPath) : '' }}<b>{{ x.path }}</b></td>
                                <td ng-if="isLoggedIn">{{ x.createdBy }}</td>
                                <td>{{ translate(x.mockType) }}</td>
                                <td class="status-{{x.status | lowercase}}">
                                    {{ x.status }}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="doOpenTcpEndpointInfo(x)">{{ viewEndpointButtonLabel }}</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </uib-accordion>

        </div>

    </div>

</div>