<link rel="stylesheet" href="../css/user.css" crossorigin="anonymous" />
<link rel="stylesheet" href="../css/alert_fade.css" crossorigin="anonymous" />

<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ resetPasswordHeading }}</h4>
</div>

<div class="modal-body" id="modal-body">

    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert()" class="alert-fade">{{alert.msg}}</div>

    <div class="form-group">
        <label for="fullname" class="ng-binding">{{ fullnameLabel }}</label>
        <pre id="fullname" class="reg-font">{{ fullname }}</pre>
    </div>

    <div class="form-group">
        <label for="username" class="ng-binding">{{ usernameLabel }}</label>
        <pre id="username" class="reg-font">{{ username }}</pre>
    </div>

    <div class="form-group">
        <label for="currentPassword" class="ng-binding">{{ currentPasswordLabel }}</label>
        <input id="currentPassword" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="passwordData.currentPassword" placeholder="{{ currentPasswordPlaceholderTxt }}" type="password" focus="true" />
    </div>

    <div class="form-group">
        <label for="newPassword" class="ng-binding">{{ newPasswordLabel }}</label>
        <input id="newPassword" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="passwordData.newPassword" placeholder="{{ newPasswordPlaceholderTxt }}" type="password" />
    </div>

    <div class="form-group">
        <label for="confirmPassword" class="ng-binding">{{ confirmPasswordLabel }}</label>
        <input id="confirmPassword" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="passwordData.confirmPassword" placeholder="{{ confirmPasswordPlaceholderTxt }}" type="password" />
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="doCancel()">{{ cancelButtonLabel }}</button>
    <button class="btn btn-primary" type="button" ng-click="doUpdatePassword()" ng-disabled="disableButton">{{ updateButtonLabel }}</button>
</div>
