<link rel="stylesheet" href="../css/ws_client.css" crossorigin="anonymous" />

<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ clientHeading }}</h4>
</div>

<div class="modal-body" id="modal-body">

    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert()" class="alert-fade">{{alert.msg}}</div>

    <div class="row">
        <div class="col-lg-6">

            <div class="form-group">
                <label for="url" class="ng-binding default-label-color">{{ urlLabel }}</label>
                <input id="url" class="form-control" ng-model="clientRequest.url" placeholder="{{ urlPlaceholderTxt }}" type="text" />
            </div>

            <div class="form-group">
                <label for="client-request-body" class="ng-binding default-label-color">{{ requestBodyLabel }}</label>
                <textarea id="client-request-body" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="clientRequest.body"></textarea>
            </div>

            <div class="ws-button-div">
                <button class="btn btn-success" type="button" ng-click="doSend()">{{ sendButtonLabel }}</button>
            </div>

        </div>
        <div class="col-lg-6">

            <div class="form-group">
                <label for="remote-response-body" class="ng-binding default-label-color">{{ remoteResponseLabel }}</label>
                <textarea id="remote-response-body" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="remoteResponse" ng-readonly="true"></textarea>
            </div>

            <div class="ws-button-div">
                <button class="btn btn-default" type="button" ng-click="doClearResponse()">{{ clearButtonLabel }}</button>
                <button class="btn btn-danger" type="button" ng-click="doTerminate()">{{ terminateButtonLabel }}</button>
            </div>

        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="doClose()">{{ closeButtonLabel }}</button>
    <button class="btn btn-primary" type="button" ng-click="doConnect()">{{ connectButtonLabel }}</button>
</div>
