logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
.DS_Store
.cache
/bin
*.pid
src/main/main.iml
binary
TODO
