<!DOCTYPE HTML>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<html>

    <head>
        <title>sMockin Client Demo</title>

        <link type="text/css"
              rel="stylesheet"
              href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css">

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">

        <link type="text/css"
              rel="stylesheet"
              href="css/login.css">

        <!-- production version, optimized for size and speed -->
        <!--
            <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        -->
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

    </head>

    <body>

        <div id="login-app" class="vertical-center">
            <div class="container login-container">

                <div class="card">
                    <div class="login-form">

                        <h3>{{ loginLabel }}</h3>
                        <br />

                        <h6 class="login-alert">{{ loginErrorMessage }}</h6>
                        <br />

                        <input id="username" type="text" v-model="username" class="form-control" :placeholder="[[ usernamePlaceholder ]]" />
                        <input id="password" type="password" v-model="password" class="form-control" :placeholder="[[ passwordPlaceholder ]]">

                        <br />
                        <br />

                        <button v-on:click="doLogin" class="btn btn-outline-dark btn-block">{{ loginButtonLabel }}</button>

                    </div>
                </div>

            </div>
        </div>

    </body>

    <script src="js/utils.js"></script>
    <script src="js/login.js"></script>

</html>