
.modal-header-warning {
    color: #fff;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%);
}

.modal-header-danger {
    color: #fff;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%)
}
