
.modal-header-success {
    padding: 12px;
    color: #fff;
    border-radius: 4px;
background-image: linear-gradient(to bottom,#4db34d 0,#367d36 100%) !important;
}

.modal-header-warning {
    padding: 12px;
    color: #fff;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%) !important;
}

.modal-header-danger {
    padding: 12px;
    color: #fff;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%) !important;
}
