
#method {
    width : 100%;
}

#method-button {
    width : 100%;
    text-align: left;
}

#mock-type-radio-group {
    width: 100%;
    margin-top: 25px;
}

.mock-type-radio-button {
    width: 33%;
}

.add-button-div {
    width: 100%;
    margin-top: 20px;
    text-align: right;
}

.add-button {
    width: 160px;
}

.action-buttons {
    width: 100%;
    text-align: right;
    margin-bottom: 25px;
}

.action-button-table-cell {
    text-align: right;
}

.dropdown-menu {
    width: 100%;
}

#response-body {
    height: 170px;
}

.default-label-color {
    color: cadetblue;
}

#add-response-header-row {
    width: 100%;
}

.remove-resp-head-row-button {
    text-align: center;
}

.restart-mock-server-instruction {
    text-align: left;
    font-size: 12px;
    margin-top: 8px;
}

.condition-arg-button-side-offset {
    margin-left: 8px;
    margin-right: 6px;
}

.condition-arg-button-top-offset {
    margin-top: 9px;
}

.view-rule-button {
    margin-left: 15px;
}

.view-seq-button {
    margin-left: 15px;
}

.action-button-table-cell a:hover {
    text-decoration: none;
}

.seq-table {
    min-height: 150px;
}

.rule-table {
    min-height: 150px;
}

.no-results-found {
    min-height: 150px;
    margin-top: 100px;
    font-weight: bold;
    text-align: center;
}

.endpoint-status-row {
    text-align: right;
}

#endpoint-status {
    margin-left: 20px;
}
action-button-table-cell
#endpoint-status-button {
    width: 90px;
}

.newEndpointHeading {
    margin-top: 4px;
}

.proxy-timeout-group {
    margin-top: 15px;
}

.shuffle-seq-group {
    text-align: right;
}

.suspend-seq-rule {
    text-decoration: line-through;
    color: #d7dbdd;
}

.suspend-icon-left {
    cursor: default;
    opacity: .2;
}

.suspend-icon-right {
    margin-left: 8px;
    margin-right: 6px;
    cursor: default;
    opacity: .2;
}

.suspend-button {
    opacity: .2 !important;
}