
.modal-header {
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

#response-body {
    height: 170px;
}

#add-response-header-row {
    width: 100%;
}

.remove-resp-head-row-button {
    text-align: center;
}

.help-tip-response-body {
    position: absolute;
    top: 160px;
    right: 18px;
}
