
.restart-mock-server-instruction {
    text-align: left;
    font-size: 12px;
    margin-top: 8px;
}

.action-buttons {
    width: 100%;
    text-align: right;
    margin-bottom: 25px;
}

.ftp-endpoint-heading {
    margin-top: 4px;
}

#endpoint-status {
    margin-left: 20px;
}

#endpoint-status-button {
    width: 100px;
}

.endpoint-status-row {
    text-align: right;
}

.manage-ftp-repo-panel {
    margin-top: 24px;
}

input[type="file"] {
    display: none;
}

.upload-select-file-button {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    width: 100%;
    cursor: pointer;
}

#no-files-found {
    text-align: center;
}

.delete-ftp-file-button {
    margin-top: -7px;
}

.upload-button {
    width: 100%;
}