
.section-heading {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 35px;
    text
}

.section-body {
    margin-top: 10px;
    margin-bottom: 35px;
}

.section-body-indent {
    margin-left: 20px;
}

.highlight-color {
    color: #5c85d6;
    font-style: italic;
}

.highlight-color-plain {
    color: #5c85d6;
}

.section-sub-heading {
    font-size: 18px;
    font-style: italic;
    color: #5c85d6;
}

.help-slides-link {
    text-decoration: underline;
}
