
.restart-mock-server-instruction {
    text-align: left;
    font-size: 12px;
    margin-top: 8px;
}

.action-buttons {
    width: 100%;
    text-align: right;
    margin-bottom: 25px;
}

.jms-endpoint-heading {
    margin-top: 4px;
}

#endpoint-status {
    margin-left: 20px;
}

#endpoint-status-button {
    width: 100px;
}

.endpoint-status-row {
    text-align: right;
}

.status-active {
    color: #53c653;
}

.status-inactive {
    color: #ff8080;
}

.clear-jms-button {
    width: 100%;
}

#text-jms-message-body {
    height: 130px;
}

#text-jms-topic-message-body {
    height: 170px;
}

#jms-mock-type {
    margin-top: 25px;
    width: 100%;
}

#jms-mock-type-button {
    width: 100%;
    text-align: left;
}

.actual-path {
    font-size: 12px;
}
