
.modal-header {
    padding: 12px;
    color: #fff;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

.CodeMirror {
    border-radius: 8px;
    font-size: 13px;
}

#custom-js-syntax-modal {
    display: none;
}

.modal-dialog {
    width: 980px;
}
