
#add-kvpdata-button {
    margin-top: 15px;
}

.add-kvpdata-button-div {
    text-align: right;
}

.no-kvpdata-found {
    text-align: center;
    margin-top: 140px;
}

.key-tbl-col {
    width: 40%;
}

.value-tbl-col {
    width: 40%;
}

.action-tbl-col {
    width: 20%;
}