
.navbar-background {
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

.navbar-default .navbar-brand {
    color: #fff;
}

.tools-link {
    color: #fff !important;
}

.default .navbar-nav > .open > a {
    background-color: transparent;
    background-image: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    background-image: none;
}

#smockin-logo {
    max-height: 25px;
}

.tunnel-dropdown {
    margin-right: 20px;
}

.tunnel-dropdown-icon {
    font-size: 18px;
    top: 4px;
}

.server-mode-dropdown {
    margin-right: 20px;
}

.server-mode-dropdown-icon {
    font-size: 18px;
    top: 4px;
}

#active-tunnel-url {
    color: #fff;
}
