
.modal-header {
    padding: 12px;
    color: #fff;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

.modal-dialog {
    width: 950px;
}

#clear-feed-button {
    width: 100%;
}

#no-activity-data {
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}

#log-search {
    width: 100%;
}

.live-log-font {
    font-size: 11px;
}

.activity-feed-table-wrapper {
    max-height: 420px;
    overflow-y : scroll;
}

.logging-status-online {
    color: #53c653;
}

.logging-status-offline {
    color: #ff8080;
}

.live-log-tbl-header-col {
    max-width: 200px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
