
.modal-header {
    padding: 12px;
    color: #fff;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

.blocked-endpoints-modal {
    width: 50% !important;
}
