
.modal-header {
    padding: 12px;
    color: #fff;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

.modal-dialog {
    width: 950px;
}

#client-request-body {
    height: 165px;
}

#remote-response-body {
    height: 240px;
}

.ws-button-div {
    width: 100%;
    text-align: right;
}
