<!DOCTYPE HTML>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<html>

    <head>
        <title>sMockin - Password Reset</title>
        <link rel="icon" type="image/x-icon" href="../favicon.ico" />
        <link rel="stylesheet" href="../css/lib/bootstrap.min.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="../css/lib/bootstrap-theme.min.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="../css/reset_password.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="../css/alert_fade.css" crossorigin="anonymous" />
    </head>

    <body ng-app="smockinResetPasswordApp" ng-controller="resetPasswordController" class="ng-cloak">

        <div ng-cloak class="ng-cloak">
            <div class="container">

                <div id="reset-password-panel">

                    <h3>{{ passwordResetHeading }}</h3>

                    <br />

                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert()" class="alert-fade">{{alert.msg}}</div>

                            <h4>{{ passwordResetInfo }}</h4>

                            <br />

                            <div class="form-group">
                                <label for="newPassword" class="ng-binding">{{ newPasswordLabel }}</label>
                                <input id="newPassword" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="passwordData.newPassword" placeholder="{{ newPasswordPlaceholderTxt }}" type="password" focus="true" />
                            </div>

                            <div class="form-group">
                                <label for="confirmPassword" class="ng-binding">{{ confirmPasswordLabel }}</label>
                                <input id="confirmPassword" class="form-control ng-isolate-scope ng-pristine ng-valid" ng-model="passwordData.confirmPassword" placeholder="{{ confirmPasswordPlaceholderTxt }}" type="password" />
                            </div>

                            <br />

                            <button class="btn btn-primary pull-right" type="button" ng-click="doUpdatePassword()" ng-disabled="disableButton">{{ updateButtonLabel }}</button>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- AngularJS -->
        <script src="../js/lib/angular.min.js" type="text/javascript"></script>
        <script src="../js/lib/angular-animate.min.js" type="text/javascript"></script>
        <script src="../js/lib/angular-sanitize.min.js" type="text/javascript"></script>

        <!-- JQuery -->
        <script src="../js/lib/jquery-3.3.1.slim.min.js" type="text/javascript"></script>

        <!-- Bootstrap -->
        <script src="../js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>

        <!-- Controllers -->
        <script src="../js/controller/reset_password.js"></script>
        <script src="../js/controller/confirmation_alert.js"></script>

        <!-- Services / Directives -->
        <script src="../js/service/globals.js"></script>
        <script src="../js/service/utils.js"></script>
        <script src="../js/service/auth.js"></script>
        <script src="../js/service/rest_client.js"></script>
        <script src="../js/service/focus.js"></script>

    </body>

</html>